PORT= 
MONGO_DB=
MONGO_DB_NAME=
MONGO_USER=
MONGO_PASSWORD=

JWT_SECRET_KEY=
JWT_EXPIRES_IN=
JWT_ALGORITHM=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ENV_VARIABLE=CLOUDINARY_URL=

PAY_PAL_MODE=
PAY_PAL_CLIENT_ID=
PAY_PAL_CLIENT_SECRET=

NODE_ENV=